<!--<div class="searchField">-->
<!--  <mat-form-field class="search-from-field" floatLabel="never">-->
<!--    <input matInput [(ngModel)]="searchKey" placeholder="Buscar" autocomplete="off" (keyup)="applyFilter()">-->
<!--    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()"></button>-->
<!--    <mat-icon>close</mat-icon>-->
<!--  </mat-form-field>-->
<!--</div>-->
<div>
  <h3 class="title">Clientes</h3>
  <table class="table">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Nro Documento</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cliente of clientes | paginate:pageSize:pageNumber">
      <td>{{ cliente.nombre }}</td>
      <td>{{ cliente.apellido }}</td>
      <td>{{ cliente.nroDocumento }}</td>
      <td>{{ cliente.email }}</td>
      <td>{{ cliente.telefono }}</td>
      <td>
        <mat-icon aria-hidden="false" aria-label="Example control_point icon" class="pointsButton">control_point</mat-icon>
      </td>
    </tr>
    </tbody>
  </table>
  <mat-paginator [length]="clientes.length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="handlePage($event)" showFirstLastButtons>
  </mat-paginator>
</div>
<div class="extra-buttons">
  <button type="button" class="btn btn-success refrescar" (click)="onRefrescar()">Refrescar</button>
</div>
