h3 {
  color: black;
}

.title {
  text-align: center;
}

.mat-paginator {
  alignment: center;
}

.extra-buttons {
  width: 100%;
  margin: 1em;
}

.refrescar {
  float: right;
  margin-right: 1em;
  font-size: 14px;
}

